<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution
            id="com.vlad.androidxmlayouter.editor"
            objectClass="org.eclipse.ui.IEditorInput"
            nameFilter="*.*">
            <action
                  class="com.vlad.action.GenerateXML"
                  id="com.vlad.androidxmlayouter.action.GenerateXML"
                  label="Generate Android XML"
                  menubarPath="additions">
            </action>
        </objectContribution>
    </extension>
</plugin>
